@model AlumnoModel
@{

    ViewData["Title"] = "Pagina de inicio";
}
    <h1 class="display-4; text-center">Biblioteca</h1>
<div class="text-center; align-items-center">
    
    <table cellpadding="8" cellspacing="8" border="1" align="center">
        <tr>
            <td colspan="6" align="center" bgcolor="#808080"><font color="#FFFFFF"><strong>Registros Del Alumno</strong></font></td>
        </tr>
        <tr bgcolor="#808080" border="1">
            <th scope="col"><font color="#FFFFFF"> Numero de control</font></th>
            <th scope="col"><font color="#FFFFFF">Numbre</font></th>
            <th scope="col"><font color="#FFFFFF">Apellido Paterno</font></th>
            <th scope="col"><font color="#FFFFFF">Apellido Materno</font></th>
            <th scope="col"><font color="#FFFFFF">Carrera</font></th>
            <th scope="col"><font color="#FFFFFF">Semestre</font></th>
        </tr>
        @foreach(AlumnoModel Alumnos in (AlumnoModel[])ViewBag.alumnos)
        {
            <tr>
                <th>
                    @Alumnos.NC
                </th>
                <td>
                    @Alumnos.Nombre
                </td>
                <td>
                    @Alumnos.App
                </td>
                <td>
                    @Alumnos.Apm
                </td>
                <td>
                    @Alumnos.Carrera
                </td>
                <td>
                    @Alumnos.Semestre
                </td>

            </tr>
        }

    </table>
</div>
